<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887303283086-dnuufq7h1nscgspsuovbdcac47lcdf84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887303283086-dnuufq7h1nscgspsuovbdcac47lcdf84</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1RkmDFaUqSNAG9qpmvV9U3j_3age19A</string>
	<key>GCM_SENDER_ID</key>
	<string>887303283086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sarah-Berbuir.FirebaseAuthTryout</string>
	<key>PROJECT_ID</key>
	<string>fir-authtryout</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authtryout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887303283086:ios:af8ad2ff57b9ac50c704df</string>
</dict>
</plist>